SERVER_URL=''
OPENAI_SECRET_KEY=''

POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_HOST=''
POSTGRES_PORT=
POSTGRES_DB=''

DB_TYPE='postgresql'

API_USERNAME=''
API_PASSWORD=''

GET_LEAD_API_URL =''
ASSIGN_PROFILE_TO_ACCOUNT_API_URL =''

MLX_BASE = ""
MLX_USERNAME = ""
MLX_PASSWORD = ""
MLX_FOLDER_ID = ""

ADSPOWER_HEADLESS=true
SERVER_IP=x.x.x.x
